<footer>
  <h5>&copy; KCAL. All Rights Reserved.</h5>
  <a href="mailto:kcalworks@gmail.com" id="contact-link"><i id="mail" class="fas fa-envelope-open-text"></i></a>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery.min.js"></script>
  <script src="js/app.js"></script>
</footer>