<header>
  <nav class="navbar">
    <ul>
      <li><a class="active" href="/">My Dashboard</a></li>
      <li><a href="/intake-form">Saved Menus</a></li>
      <li class="right"><a href="/about">About</a></li>
    </ul>
  </nav>
</header>
