<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>KCAL</title>
<link href="layouts/css/reset.css" rel="stylesheet">
<link href="layouts/css/base.css" rel="stylesheet">
<link href="layouts/css/layout.css" rel="stylesheet">
<link href="layouts/css/modules.css" rel="stylesheet">