<header>
  <nav class="navbar">
    <ul>
      <li><a class="active" href="/">Home</a></li>
      <li><a href="/intake-form">Intake Form</a></li>
      <li><a href="/results">Results</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
      <li class="right"><a href="/about">About</a></li>
    </ul>
  </nav>
</header>

<!-- /Users/adrianagraybill/codefellows/301n13/final-project/kcal/views/pages/about.ejs -->