body {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  display: table;
  background: rgb(134, 134, 134);
  font-family: Arial, Helvetica, sans-serif;
}

/* nav {
  margin-bottom: 20px;
}

nav ul {
  overflow: hidden;
  background-color: #333;
}

nav li a {
  display: inline-block;
  color: white;
  margin: 0 auto;
  text-align: center;
  padding: 15px 0px;
  text-decoration: none;
  width: 100%;
}

nav li a:hover:not(.active) {
  background-color: rgb(97, 97, 97);
}

nav .active {
  background-color: rgb(196, 124, 37); */
}

h1 {
  text-align: center;
}

main {
  width: 100%;
}

img {
  object-fit: contain;
  width: 250px;
  height: 250px;
  background: white;
}

footer {
  background: orange;
  width: 100%;
  display: table-row;
  height: 3%;
  margin-top: 50px;
  text-align: center;
  line-height: 3;
}

#intake-form {
  background: white;
  line-height: 2;
  width: 480px;
  margin: 0 auto;
}
