.info-banner {
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0px;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 4px black;
}

#h1-about {
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 50px;
  color: white;
  text-shadow: 2px 2px 4px black;
}

.team {
  padding: 20px 10px;
  width: 300px;
  text-align: center;
  margin: 30px 0px;
  height: 400px;
  line-height: 1;
  background-color: rgb(0, 0, 0);
  opacity: .8;
  color: white;
  align-items: center;
  border-radius: 10px;
  box-shadow: 1px 1px 2px orange;
}

.team img {
  object-fit: contain;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 1px solid orange;
}

.name {
  color: orange;
  padding: 10px 0px;
  text-transform: uppercase;
  font-size: 20px;
}

#create-account-container {
  width: 400px;
  background-color: #000000;
  opacity: .7;
  padding: 5px 0px 50px 0px;
  margin: 0 auto;
}

#male {
  margin-right: 7px;
}

#activity , #weight-loss-speed {
  margin-top: 10px;
}

#activity {
  margin-left: 5px;
  margin-right: 5px;
}

#selected {
  margin: 0 auto;
  color: white;
  margin-bottom: 50px;
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  padding: 0 30px;
}

#h1-selected {
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 40px;
  color: white;
  text-shadow: 2px 2px 4px black;
}

#update-button {
  margin-top: 10px;
}

#daily-meal {
  margin: 0 auto;
  color: white;
  margin-bottom: 50px;
  text-align: center;
  font-size: 18px;
}

.diet-values{
  margin-top: 3px;
  font-size: 21px;
  text-shadow: 2px 2px 4px black;
}

#combined {
  margin-top: 5px;
  margin-bottom: 8px;
}

#meals-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.meals {
  margin-bottom: 17px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.meals img {
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  object-fit: cover;
  width: 250px;
  height: 250px;
  background: #222222;
  margin-bottom: 10px;
  margin-top: 10px;
}

#intake-button {
  margin: 20px 0px;
}

#stats input{
  margin-left: 9em;
}

#stats label {
  position: absolute;
}

