<!DOCTYPE html>
<html>
<%- include('../layouts/head') %>

  <body id="about-page">
    <%- include('../layouts/header') %>

      <h1 id="h1-about">Meet the team behind kCal!</h1>
      <div id="about-wrapper">
        <div class="team" id="adriana">
          <img alt="adriana" src="../images/adriana.jpg">
          <p class="name">Adriana Graybill</p>
          <p>This project is important
            to me because I am someone who struggles with weight management, this has helped lay out everything I need in
            order to be sucessful with managing my eating habits. I can see a projected goal date which keeps me motivated
            and I can also save my favorite meals! </p>
        </div>

        <div class="team" id="brad">
          <img alt="brad" src="../images/brad.png">
          <p class="name">Brad Smialek</p>
          <p>ipsm Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla iusto, exercitationem asperiores possimus 
            quidem rerum. Atque labore officiis maiores esse nulla, harum, ex libero, recusandae culpa repellendus dignissimos 
            error magnam?</p>
        </div>

        <div class="team" id="chance">
          <img alt="chance" src="../images/chance.png">
          <p class="name">Chance Harmon</p>
          <p>This project was a fantastic experience as a group. It has been a great opportuinty to work all of the muscles
            we have been building. All of the downfalls will or have turned into future successes. As an avid seaker of life
            hacks, I think we did a solid job at contributing to the health conscious community.</p>
        </div>

        <div class="team" id="jeremy">
          <img alt="jeremy" src="../images/jeremy.png">
          <p class="name">Jeremy Lee</p>
          <p>The end goal is the colmination of one's journey but the journey is the unearthing of one's character that will
            never be forgotten.</p>
        </div>
      </div>


      <%- include('../layouts/footer') %>
  </body>

</html>