<!DOCTYPE html>
<html>
<%- include('../layouts/head') %>

  <body>
    <%- include('../layouts/header') %>

    <h4>Meet the team behind kCal!</h4>

      <div class="team" id="adriana">
        <img alt="adriana" src="../images/adriana.jpg">
        <li>Adriana Graybill</li>
        <p>This project is important to me because I am someone who struggles with weight management, this has helped lay
          out everything I need in order to be sucessful with managing my eating habits. I can see a projected goal date
          which keeps me motivated and I can also save my favorite meals! </p>
      </div>

      <div class="team" id="brad">
        <img alt="brad" src="">
        <li>Brad Smialek</li>
        <p>This project is important to me because I am someone who struggles with weight management, this has helped lay
          out everything I need in order to be sucessful with managing my eating habits. I can see a projected goal date
          which keeps me motivated and I can save my favorite meals! </p>
      </div>

      <div class="team" id="chance">
        <img alt="chance" src="">
        <li>Chance Harmon</li>
        <p>This project is important to me because I am someone who struggles with weight management, this has helped lay
          out everything I need in order to be sucessful with managing my eating habits. I can see a projected goal date
          which keeps me motivated and I can save my favorite meals! </p>
      </div>

      <div class="team" id="jeremy">
        <img alt="adriana" src="">
        <li>Jeremy Lee</li>
        <p>This project is important to me because I am someone who struggles with weight management, this has helped lay
          out everything I need in order to be sucessful with managing my eating habits. I can see a projected goal date
          which keeps me motivated and I can save my favorite meals! </p>
      </div>


      <%- include('../layouts/footer') %>
  </body>

</html>