<!DOCTYPE html>
<html>
<%- include('../layouts/head') %>

    <body>
        <%- include('../layouts/header') %>
        <p><a href="/new">Go Back From Whence You Came</a></p> // change path!
        <p>
            <%= error %>
        </p>

        <%- include('../layouts/footer') %>
    </body>

</html>