<!DOCTYPE html>
<html>
<%- include('../layouts/head') %>
    <body>
        <%- include('../layouts/header') %>
            <p>Something went wrong, try again...</p>
            <p>
                <%= error %>
            </p>

            <%- include('../layouts/footer') %>
    </body>
</html>