<!DOCTYPE html>
<html>

<head> 
  
</head>

<body>
    <header>
        
    </header>
    <p><a href="/new">Go Back From Whence You Came</a></p>  // change path!
    <p><%= error %></p>
  
    <footer> 
        
    </footer>
</body>

</html>