<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Please log in with your e-mail or click register if you are new!</h1>
  
  <div class="login-contanier">
      <form action="/" method="post" class='form-sign-in'>
        <input type="text" name="username" class="form-control" placeholder="Email" requried autofocus>
        <input type="checkbox" name="remember" class="form-control" placeholder="Remember me">
  
        <button type="submit">Sign In</button>
      </form>
    </div>
    <div class="join-container">
      <a href="/join">Register</a>
    </div>

</body>
</html>
