<!DOCTYPE html>
<html lang="en">
<%- include('../layouts/head') %>
  </head>

  <body id="login-page">
    <%- include('../layouts/header') %>
    <!-- <img id="backbackground" src="images/backbackground.jpg"> -->

      <h1 id="joke">Hero Message</h1>

      <div class="login-contanier">
        <br>
        <form action="/" method="post" class='form-sign-in'>
          Username <input type="text" name="username" class="form-control" placeholder="Email" requried autofocus>
          <br>
          Remember Me <input type="checkbox" name="remember" class="form-control" placeholder="Remember me"> 

          <br>
          <button type="submit"> Sign In</button>
        </form>
        <div class="join-container">
          <br> Don't have an account?
          <br>
          <a href="/join">Join</a>
        </div>
      </div>
      <%- include('../layouts/footer') %>
  </body>

</html>